html, body {
  margin: 20px;
}

table.repo-details td {
  padding-right: 1em;
  padding-top: 0.2em;
}

table.repo-details td:first-child {
  width: 1%;
  white-space: nowrap;
}

table.repo-details td:last-child {
  text-align: left;
}
